[% WRAPPER 'include/layout.tt' %]

<h1 style="text-align: center">Hello, MacHolic Test!</h1>

<h2>This page is index.</h2>
<p>detail is soon. please wait!<p>

<hr />
[%- FOR t IN tests %]
<p>
[%- t.id_body_as_text -%]
</p>
[% END -%]
[% END %]
