<!doctype html>
<html>
    <head>
        <meta charset=utf-8 />
        <style type="text/css">
            body {
                text-align: center;
                font-family: 'Menlo', 'Monaco', Courier, monospace;
                background-color: whitesmoke;
                padding-top: 10%;
            }
            .message {
                font-size: 400%;
            }
        </style>
    </head>
    <body>
        <div class="message">
          <p>something is wrong!<p>
          <p>please set data fmt.</p>
        </div>
    </body>
</html>
